body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.welcome-section {
    text-align: left;
    padding: 20px;
    background-color: #F739C0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    color: white;
}

.nav-section {
    text-align: right;
    position: relative;
    background-color: #FC69F9;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    z-index: 2;
}

.nav-section table{
    margin: 0;
    padding: 0;
}

.nav-section table tr td{
    padding: 0;
    margin: 0;
}

.background {
    background-color: #F739C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.login-section {
    background-color: white;
    border-radius: 60px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
}

.inner-box {
    background-color: lightgray;
    padding: 300px;
    border-radius: 20px;
    margin-right: auto;
}

.logo img {
    width: 1000px;
    height: auto;
}

.logo p {
    text-align: right;
    margin-top: 20px;
    height: auto;
}

.logo {
    text-align: right;
    margin-right: 20px;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.login-box {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
}
